{% extends "base.html" %}\ {% load crispy_forms_tags %}
<!--  -->
{% block title %} Edit Profile {% endblock %}
<!--  -->
{% block content %}
<div class="card mb-3">
  <div class="d-flex justify-content-between p-2">
    <div>
      <img
        src="{{ object.author.profile.profile_image.url }}"
        alt=""
        class="home-profile-image"
      />
      <h5 class="post-title">{{object.post_title}}</h5>
    </div>
    <hr />
  </div>
  <div class="card-body">
    <p class="card-text">
      {{object.post_text}}
    </p>
  </div>
  <div class="card-footer text-muted post-card-footer">
    Posted By: {{object.author}} &nbsp
    <span class="text-muted">{{object.posted_date|date:"d M, Y"}}</span>
  </div>
  <form class="form-group mt-4" method="POST">
    {% csrf_token %}
    <button class="btn btn-danger w-100" type="submit">Yes, Delete</button>
  </form>
  <a href="{% url 'post-detail' pk=object.id %}" class="w-100 mt-2">
    <button class="btn btn-dark w-100">Cancel</button>
  </a>
</div>
{% endblock %}
