<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/">Django Blog</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto w-100">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog-home' %}"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog-about' %}"
          >About <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item ml-auto">
        <div>
          {% if user.is_authenticated %}
          <div class="profile" style="display: inline; margin-right: 0.5rem;">
            <span>{{user}}</span>
            <a href="{% url 'profile' %}" style="text-decoration: none;">
              <img
                src="https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914__340.png"
                alt="..."
                style="height: 30px; width: 30px; border-radius: 100%;"
              />
            </a>
          </div>
          <a href="{% url 'logout' %}">
            <button class="btn btn-light mx-1 btn-sm">
              Logout
            </button>
          </a>
          {% else %}
          <a href="{% url 'login' %}">
            <button class="btn btn-light mx-1 btn-sm">
              Login
            </button>
          </a>
          <a href="{% url 'signup' %}">
            <button class="btn btn-light mx-1 btn-sm">
              Sign Up
            </button>
          </a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>
